{% block kd_event_item %}
    {% if (page.needsLogin.isTrue and kirby.user) or page.needsLogin.isFalse %}
        {{ snippet('head/head') }}

            {{ snippet('navigation/navigation') }}
            <div class="kd-main-container">
                <div class="column" style="--columns:12">
                    <div class="blocks">
                        <h1 class="kd-heading justify-content-center d-flex text-center">{{ page.customTitle }}</h1>
                        <hr class="mb-4 kd-divider">
                    </div>
                </div>
                <div class="kd-container row justify-content-center">
                    <div class="col-md-10 row">
                        <div class="col-lg-4 kd-event-data kd-mouseover-grow" data-aos="flip-left">
                            <div class="kd-event-data-item kd-round row">
                                <div class="col-2">
                                    <i class="fa-solid fa-calendar"></i>
                                </div>
                                <div class="col-10">
                                    <div>{{ page.dateTime | date('d.m.Y') }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 kd-event-data kd-mouseover-grow" data-aos="flip-left">
                            <div class="kd-event-data-item kd-round row">
                                <div class="col-2">
                                    <i class="fa-solid fa-clock"></i>
                                </div>
                                <div class="col-10">
                                    <div>{{ page.dateTime | date('H:i') }} Uhr</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 kd-event-data kd-mouseover-grow" data-aos="flip-left">
                            <div class="kd-event-data-item kd-round row">
                                <div class="col-2">
                                    <i class="fa-solid fa-location-dot"></i>
                                </div>
                                <div class="col-10">
                                    <div>{{ page.location }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-5">
                    {% block kd_event_content %}
                        {% include '@plugins/khepri-base/elements/layout.twig' %}
                    {% endblock %}
                </div>
            </div>
            
        {{ snippet('footer/footer') }}
    {% else %}
        {% set goPage = page.id %}
        {{ go("/login?go="~goPage) }}
    {% endif %}
{% endblock %}